<div class="row mt-5">
    <div class="col-lg-6 offset-lg-3">
        <h2 class="text-center montserrat">ENTER YOUR BUDGET</h2>
        <div class="card">
            <div class="card-body">
                <input type="tetxt" class="form-control form-control-lg" placeholder="Enter your budget..">
                <div class="d-grid gap-2">
                    <button routerLink="/expenses" type="button" class="btn btn-secondary btn-lg mt-2">NEXT</button>
                </div>
            </div>
        </div>
    </div>
</div>