<h4 class="text-center">Enter your expense</h4>
<hr>
<div *ngIf="formInvalid" class="text-center mb-3">
    <span class="badge text-bg-danger ">{{ textInvalidForm }}</span>
</div>
<div class="mb-3">
    <label for="name" class="form-label">Expense</label>
    <input [(ngModel)]="name" type="text" class="form-control form-control-lg" id="name" placeholder="Ej: Food" autocomplete="off">
</div>

<div class="mb-3">
    <label for="amount" class="form-label">Amout</label>
    <input [(ngModel)]="amount" type="number" class="form-control form-control-lg" id="amount" placeholder="Ej: Enter your budget"  autocomplete="off">
</div>

<div class="d-grid gap-2">
    <button (click)="addExpense()" type="button" class="btn btn-secondary btn-lg mt-2">ADD EXPENSE</button>
</div>