<h4 class="text-center">Enter your expense</h4>
<hr>

<div class="mb-3">
    <label for="name" class="form-label">Expense</label>
    <input type="text" class="form-control form-control-lg" id="name" placeholder="Ej: Food">
</div>

<div class="mb-3">
    <label for="amount" class="form-label">Amout</label>
    <input type="number" class="form-control form-control-lg" id="amount" placeholder="Ej: Enter your budget">
</div>

<div class="d-grid gap-2">
    <button  type="button" class="btn btn-secondary btn-lg mt-2">ADD EXPENSE</button>
</div>